<!DOCTYPE html>
<html>
  <head>
    <title>EnglishLearn</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'turbolinks:load'  %>
  </head>

  <body >
    <div class="main-container">
    <div class = "main-leyout" > 
    <div class = "left-menu" >
      <header class ="navbar-options" id="left-menu-leyout">
          <nav>
            <li><span >BTC2WR</span> </li>
            <li><%= link_to 'English Dictionary', '/dictionary/index', method: :get %> </li>
            <li><a >Ruby Learn</a></li>
            <li><a >English Tests</a></li>
            <li><%= link_to 'Regular and irregular verbs', "/dictionary/regular_irregular_verbs", method: :get %></li>
          </nav>
      </header>
      <span id='leyout-left-menu'><<</span>

    </div>
    
    <div class="right-menu">
      <nav class="login-bar">
        <span>BTC2WR</span> 
        <%if (!user_signed_in?)%>
        <div class="login-links">
          <li><a href="/users/sign_in">SignIn</a></li>
          <li><a href="/users/sign_up">SignUp</a></li>
        </div>
        <%else%>
         <div class="login-links">
          <li><a href="#"><%= current_user.email %></a></li>
          <li><a href="/users/sign_out">SignOut</a></li>
        </div>
        <%end%>
      </nav>
      <nav class="english-menu">
        <li><a>Vocabulary</a></li>
        <li><a>Gramar</a></li>
        <li><a>Skills</a></li>
      </nav>
      <div class="main-content-leyout">
        <%= javascript_include_tag('datatables.js') %>
        <%= yield %>
      </div>
    </div>
</div>

   </div>
  </body>
</html>
